DATABASE_URL="postgresql://example/neondb?sslmode=require&channel_binding=require"
NODE_ENV="development"
JWT_SECRET_KEY="your secret key"
UPSTASH_REDIS_REST_URL="https://example.com"
UPSTASH_REDIS_REST_TOKEN="your token"